.forecastWeather {
  padding: 0 48px;
  border: 0;
  flex: 1;
  order: 1;
}

.header {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.weathers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 280px;
}
