.current {
  display: flex;
  padding: 64px 0;
  flex-direction: row;
  background-image: url(https://i.imgur.com/GhQZhaO.jpg);
  background-size: cover;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  color: white;
  position: relative;
}

.current__left {
  text-align: center;
  padding: 0 96px;
}

.current__right {
  padding: 0 96px;
  display: flex;
  justify-content: center;
  order: 1;
}

.temperature__top {
  margin: 0;
  text-align: center;
  font-size: 5rem;
}

.weather--description {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 5px;
  margin-top: 0.25rem;
  color: rgba(255, 255, 255, 0.7);
}

.metas {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}

.humidity {
  margin-right: 32px;
}

.wind {
  margin-left: 32px;
}

.current__city {
  margin: 16px 0px 0px;
  font-size: 32px;
  font-weight: 500;
}

.current__city::after {
  content: "";
  display: block;
  margin-top: 0.5rem;
  height: 1px;
  background: white;
  border-radius: 2px;
  width: 50%;
  transform: translateX(50%);
}

.current__bottom {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1.5rem;
}
